body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
	height: 100%;
}
.oneColLiqCtrHdr #container {
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: left;
}
.oneColLiqCtrHdr #header {
	background: #DDDDDD; 
	padding: 0 20px 0 20px;
}
.oneColLiqCtrHdr #header h1 {
	margin: 0; 
	padding: 10px 0; 
}
.oneColLiqCtrHdr #mainContent {
	padding: 0 20px; 
	background: #FFFFFF;
}
.oneColLiqCtrHdr #footer { 
	padding: 0 10px; 
	background:#DDDDDD;
} 
.oneColLiqCtrHdr #footer p {
	margin: 0; 
	padding: 10px 0; 
}