<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<servlet>
		<servlet-name>abc</servlet-name>
		<servlet-class>website.web.abc</servlet-class>
		<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/abc</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>sendcontact</servlet-name>
		<servlet-class>website.web.SendContactServlet</servlet-class>
		<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>sendcontact</servlet-name>
		<url-pattern>/sendcontact</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>website.web.GmailServlet</servlet-class>
		<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>overload</servlet-name>
		<servlet-class>website.web.EmailOverloadingServlet</servlet-class>
		<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>overload</servlet-name>
		<url-pattern>/overload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>userbyyear</servlet-name>
		<servlet-class>website.web.GetUserDataByYearServlet</servlet-class>
				<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>userbyyear</servlet-name>
		<url-pattern>/userbyyear</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>userbymonth</servlet-name>
		<servlet-class>website.web.GetUserDataByMonthServlet</servlet-class>
				<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>userbymonth</servlet-name>
		<url-pattern>/userbymonth</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getAgeVsCountIntervals</servlet-name>
		<servlet-class>website.web.GetAgeVsCountIntervals</servlet-class>
		<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAgeVsCountIntervals</servlet-name>
		<url-pattern>/getAgeVsCountIntervals</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>lastreplied</servlet-name>
		<servlet-class>website.web.LastReplyTimeServlet</servlet-class>
		<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>lastreplied</servlet-name>
		<url-pattern>/lastreplied</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>intervals</servlet-name>
		<servlet-class>website.web.GetIntervalsServlet</servlet-class>
		<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>intervals</servlet-name>
		<url-pattern>/intervals</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getContact</servlet-name>
		<servlet-class>website.web.GetContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getContact</servlet-name>
		<url-pattern>/getContact</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>setImportance</servlet-name>
		<servlet-class>website.web.SetContactImportanceServlet</servlet-class>
		<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>setImportance</servlet-name>
		<url-pattern>/setImportance</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>website.web.LoginServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>website.web.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>keywords</servlet-name>
		<servlet-class>website.web.KeywordImportanceServlet</servlet-class>
		<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>keywords</servlet-name>
		<url-pattern>/keywords</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getKeywords</servlet-name>
		<servlet-class>website.web.KeywordChart</servlet-class>
		<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>getKeywords</servlet-name>
		<url-pattern>/getKeywords</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ageVsImp</servlet-name>
		<servlet-class>website.web.AgeVsImportanceServlet</servlet-class>
		<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ageVsImp</servlet-name>
		<url-pattern>/ageVsImp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>details</servlet-name>
		<servlet-class>website.web.UserDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>details</servlet-name>
		<url-pattern>/details</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userlastreplied</servlet-name>
		<servlet-class>website.web.UserLastReplyServlet</servlet-class>
		<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>userlastreplied</servlet-name>
		<url-pattern>/userlastreplied</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>impcontact</servlet-name>
		<servlet-class>website.web.GetContactImportanceServlet</servlet-class>
		<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>impcontact</servlet-name>
		<url-pattern>/impcontact</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ulreimp</servlet-name>
		<servlet-class>website.web.UserLastRepliedImportanceServlet</servlet-class>
		<init-param>
			<param-name>JDBC_URL</param-name>
			<param-value>jdbc:oracle:thin:@ora.csc.ncsu.edu:1523:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>gapandit</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>001000715</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ulreimp</servlet-name>
		<url-pattern>/ulreimp</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>
</web-app>